* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #FFF url(../img/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(../img/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../img/logo.png) no-repeat center;
    text-indent: -3000px;
}
/* Barra de navegação */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #FFF;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 1em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    background: url(../img/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    background-color: #DC143C;
    transition: 0.5s;
    color: #FFF;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.cidades #navegacao a#cidades,
body.mundo #navegacao a#mundo,
body.economia #navegacao a#economia,
body.tecnologia #navegacao a#tecnologia,
body.saude #navegacao a#saude {
    color: #FFF;
    background-color: #DC143C;
    cursor: text;
}
/* Layout de três colunas */

#conteudo {
    margin-top: 60px;
    background: #F5F5F5;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario {
    width: 555px;
}

#uma-coluna #primario {
    width: 750px;
    margin: 0 0 20px 0;
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

/* Caixa */
.caixa {
    margin: 10px 0;
    padding: 5px 0 5px 0;
    
}

h2 {
    font-size: 1em;
    background: #000;
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
}

.caixa-conteudo {
    background: #FFF;
    padding: 5px;
    margin-top: 5px;
}

.caixa-conteudo img {
    margin-top: 5px;
}

.caixa-conteudo a {
    text-decoration: none;
    color: #294C71;
}

.caixa-conteudo a:hover {
    color: #A1A1A1;
    transition: 0.5s;
    padding-left: 5px;
}

.caixa-conteudo-2 {
    background: #FFF;
    padding: 5px;
    margin-top: 5px;
}

.caixa-conteudo-2 a {
    text-decoration: none;
}

/* Menus laterais */

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #F3F3F3;
}

#lateral ul a:hover {
    background: #F9F9F9 ;
    padding-left: 20px;
    color: #A1A1A1;
    transition: 0.5s;
}

/* Formulário */
label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    margin-top: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #FFF;
}

input.submit {
    width: 80px;
    color: #FFF;
    background-color: #294C71;
    border: 2px solid #100953;
    border-radius: 5px;
}

input.submit:hover {
    background-color: #F3F3F3;
    color: #294C71;
    transition: 0.5s;
}

/* Formatação de imagem */

img.imagem-principal {
    border: 2px solid #DFDFDF;
    margin-top: 5px;
}

/* Formatação de cabeçalhos */
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background: #B10333;
    color: #FFF;
    border-radius: 4px;
    font-size: 0.9em;
    margin-top: 10px;
}

/* Formatação lista de notícias */
#lista-noticias li {
    padding: 2px;
    height: 62px;
    font-size: 1em;
    clear: both;
}

#lista-noticias li img {
    float: left;
    clear: both;
    border: 2px solid #DFDFDF;
    margin-right: 10px;
    margin-bottom: 10px;
}

#lista-noticias li p {
    padding-top: 10px;
}

#lista-noticias-2 li {
    padding: 2px;
    height: 62px;
    font-size: 1em;
    clear: both;
}

#lista-noticias-2 li img {
    float: left;
    clear: both;
    border: 2px solid #DFDFDF;
    margin-right: 10px;
    margin-bottom: 10px;
}

#lista-noticias-2 li p {
    padding-top: 0px;
}

/* Rodape */
#container-rodape {
    background: #000000;
    padding: 20px;
    text-align: center;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #FFF;
}